:root {
	color-scheme: light dark;
	background-color: blue;
}

#main {
	z-index: -1;
	inset: 0 0 0 0;
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	background-color: grey;
	touch-action: none;
}

#device-unsupported,
#touch-unsupported,
#webgpu-unsupported {
	display: none;
}

#device-unsupported {
	color: light-dark(black, white);
	background-color: light-dark(white, black);
	padding: 1em;
	margin: 1em auto;
	border-radius: 1em;
	max-width: max-content;
}

#device-unsupported:has(#webgpu-unsupported.applicable),
#webgpu-unsupported.applicable {
	display: revert;
}

@media not (any-pointer: coarse) {
	#device-unsupported,
	#touch-unsupported {
		display: revert;
	}
}
