:root {
	color-scheme: light dark;
}

body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	background-color: blue;
}

#main {
	position: absolute;
	inset: 0 0 0 0;
	width: 100vw;
	height: 100vh;
	background-color: grey;
	touch-action: none;
}
