name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: site
  cancel-in-progress: false

jobs:
  build-artifact:
    name: Setup, Build, Publish
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Use Node.js
        uses: actions/setup-node@633bb92bc0aabcae06e8ea93b85aecddd374c402 # v4
        with:
          node-version: 25
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: build
        run: pnpm exec turbo build

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v6.0.0
        with:
          path: dist

  publish-site:
    name: publish github site
    runs-on: ubuntu-latest
    needs: [build-artifact]

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to github pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5

